body {
	padding-bottom: 60p;
	padding-top: 60px
}

#msgs_container {
	padding-top: 50px;
}

#myForm {
	font-size: 14px
}

.ui-growl {
	padding-top: 50px;
}

.panel-default {
	border-color: rgb(99, 40, 40);
}

.button-success, .button-error, .button-warning, .button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.item-title {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

