#Main {
　padding-bottom: 100px;
}
#Footer {
　height: 100px;
　position: static;
　margin-top: -100px;
}

body.padding {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}
.container{
	margin-top: 40dp
}